services:
  my-jupyter:
    image: jupyter/scipy-notebook:latest
    
    ports:
      - "8888:8888"
    
    volumes:
      - ./:/home/jovyan/work
    

    command: start-notebook.sh --NotebookApp.token='' --NotebookApp.password=''